autopep8
awscli
bokeh
click
cython
dynaconf
fastapi
fastparquet
flask
flask_basicauth
h5py
imgaug
ipdb
ipython
jupyter
jupyter_contrib_nbextensions
keras
matplotlib
natsort
numba
numpy
onnxruntime-gpu
opencv-contrib-python
pandas
pandas-profiling
pre-commit
pyyaml
scikit-image
scikit-learn
scipy
seaborn
sqlalchemy
tensorflow
torch
tqdm