autopep8
bokeh
cython
dask
hdf5
imgaug
ipdb
ipython
jupyterlab
keras
line_profiler
matplotlib
memory_profiler
numba
numpy
opencv-contrib-python
pandas
pandas-profiling
py-heat-magic
pyqt5
pyyaml
scikit-image
scikit-learn
scikit-build
scipy
seaborn
sqlalchemy
tensorflow-gpu
tqdm


fast-api
catboost
xgboost
umap
dbscan
hyperopt
fbprophet
sympy
lightgbm
torch
pytorch